:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5f778f;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  /*这里这个标签不生效不知道为什么？
  可能只能应用类上，不能用在标签上*/
  /*@apply rounded-b-lg shadow-md;*/

}
  button:hover {
  background-color: #2a6cc5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #0986e3;
  }
}
/* 引入tailWindcss */
/*这是4.1版本*/
/*@import "tailwindcss";*/

/*这是3.4.17版本*/
/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

